//@use "sass:selector"

.container
  font-size: 16px
  &_link
    color: blue !important
    font-size: 24px
  &_text
    color: blue !important
    font-size: 24px

.container_link
  color: red !important
  font-size: 32px

.container_text
  color: red !important
  font-size: 32px
